<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title> Connexion </title>
    </head>
    <body>
        <div id="content">
            <h1>Menu des restaurants</h1>
            <p>Vous devez vous connecter pour voir le menu des restaurants</p>
            <a href="{{ loginUrl }}">Se connecter avec Facebook!</a>
        </div>
    </body>
</html>
