{% extends "FacebookMenuBundle::layout.html.twig" %}

{% block title %} Connexion{% endblock %}

{% block body %}
<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">

	<div class="signin">
		<h1 class="signin-heading text-muted">Bienvenu sur notre site<br/> Afin de voire les menus veuillez vous connecter</h1>
		 <a href="{{loginUrl}}" class="btn btn-lg btn-primary center-block">Se connecter avec Facebook!</a>
	</div>

</div>
{% endblock %}
